# Arquivos de configuração do Android Studio
.idea/

# Gradle files
build/
.gradle/

# Arquivos gerados durante a compilação
/app/build/

# Arquivos de configuração local (usados geralmente para chaves de API, senhas, etc.)
/app/local.properties

# Arquivos de compilação
captures/

# Arquivos de configuração
*.iml

# Logs e arquivos temporários
*.log
*.pot
*.swp
*.bak

# Arquivos de sistema
.DS_Store
Thumbs.db

# Dependências específicas de um sistema operacional
*.dll
*.exe
*.log

# Dependências de compilação
.gradle
/captures

# Android
local.properties
/.externalNativeBuild

# Eclipse
.classpath
.project
.metadata/

# Arquivos de backup
*~

# Arquivos de configuração do sistema
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db